{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "edge": "17",
          "firefox": "60",
          "chrome": "67",
          "safari": "11.1"
        }
        // "useBuiltIns": "usage",
        // "corejs": "3.6.4"
      }
    ],
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "lib", "style": true }],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false // default: true
      },
      "lodash"
    ],
    ["babel-plugin-styled-components"]
  ]
}
